<% include partials/header %>
<body class ="landing">
  <div class="container">
     <div class="row">
       <div class= "col-md-12" style="margin-top: 200px">
         <p style="font-size: 80px">Welcome to Setrip<p>

         <h3>A place where you can find the wonderful trip.</h3>
         <a href="/trips"><botton class="btn btn-success btn-lg">Lihat semua trip di sini<botton></a>
       </div>
     </div>
   </div>
</body>
<% include partials/footer %>
