<% include partials/header %>
  <div class="container">
    <div class="row">
      <div class= "col-md-12">
        <h1>Welcome to Se-trip</h1>

        <h3>A place where you can find the wonderfull trip.</h3>
        <botton class="btn btn-success"> <a href="/trips">Lihat semua trip di sini</a><botton>
      </div>
    </div>
  </div>

<% include partials/footer %>
