<% include ../partials/header %>


    <div class="container">

      <header class="jumbotron">
      <div class="container">
        <h1>Selamat Datang di tulung.id!</h1>
        <p>bersama menjadi lebih mudah</p>
        <p><a class="btn btn-primary btn-large" href="/trips/new">Share Kegiatan Sosial Anda</a>
        </p>
      </div>
        </header>

      <div class="row text-center" style="display:flex; flex-wrap: wrap;">

        <% trips.forEach(function(trip) { %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
            <img src="<%= trip.image %>">
            <div class="caption">
              <h4><%= trip.name %></h4>
            </div>
            <p>
              <a href="/trips/<%= trip._id %>" class="btn btn-primary">More Info</a>
            </p>
              </div>
          </div>

        <% }) %>
        </div>
      </div>

<% include ../partials/footer %>
